.btn {
  background-color: var(--dark);
  border: none;
  border-radius: 12px;

  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.7);

  padding: 20px;

  max-width: 230px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.3s ease-in-out;

  cursor: pointer;
}

.btn:hover {
  box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.9);
}

.btn:active {
  box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.9);
}

.btn span {
  color: var(--dark-mode-text);
  font-size: 24px;
  font-weight: 300;
}
