@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  --dark: hsl(209, 23%, 22%);
  --dark-bg: hsl(207, 26%, 17%);
  --light-text: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 50%);
  --light-bg: hsl(0, 0%, 99%);
  --dark-mode-text: hsl(0, 100%, 100%);
  --light-elements: hsl(0, 100%, 100%);

  background-color: var(--dark-bg);

  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

li,
ol,
ul {
  list-style: none;
  list-style-type: none;
}

span,
button,
input {
  display: block;
  font-family: "Nunito Sans", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
